<h2>
  {{selectedProduct?.Product?.BrandName}}{{selectedProduct?.Product?.Name}}
</h2>
<div>
  <span style="float : left">
    <img src="/assets/Images/{{selectedProduct?.Product?.Id}}.jpg" alt="no Image Found" />
  </span>
  <div>
    {{ selectedProduct?.Product?.Price }}
    <br /> {{selectedProduct?.Product?.BrandName}}{{selectedProduct?.Product?.Name}}
    <br />
    <p>
      <select id="productsizes">
        <option *ngFor="let option of selectedProduct?.Product?.Products" [value]="option.Id">
          {{ option.SizeName }}
        </option>
      </select>
      <input type="button" value="+ Add to cart" (click)="addProductToBasket()" />
    </p>
  </div>
</div>