<table style="background-color: white;width:100% ">
  <tr>
    <td>
      <div>
        <app-customer-menu>

        </app-customer-menu>
      </div>
    </td>
    <td>
      <div [ngSwitch]="requestedUrl">
        <app-customer-detail *ngSwitchCase="'CustomerDetail'">

        </app-customer-detail>
        <app-add-delivery-address *ngSwitchCase="'CustomerAddDeliveryAddress'">

        </app-add-delivery-address>
        <app-delivery-addresses *ngSwitchCase="'CustomerDeliveryAddresses'">

        </app-delivery-addresses>
        <app-edit-delivery-address *ngSwitchCase="'CustomerEditDeliveryAddress'">

        </app-edit-delivery-address>
        <app-order-list *ngSwitchCase="'List'">

        </app-order-list>
        <app-order-detail *ngSwitchCase="'Detail'">

        </app-order-detail>
      </div>
    </td>
  </tr>
</table>