<img src="./assets/Images/product-lifestyle.jpg" width="559" height="297" style="border-width: 0px; padding: 0px; margin: 0px"
/>
<div style="clear: both;"></div>
<h2>Top Products</h2>
<div id="items" style="border-width: 1px; padding: 0px; margin: 0px">
      <ul class="items-list">
            <li class="item-detail" *ngFor="let product of getHomePageViewProducts().Products; let i = index">

                  <a class="item-productimage-link" href="selectProduct(product)">
                        <img class="item-productimage" src="/assets/Images/{{product.Id}}.jpg" />
                  </a>
                  <div class="item-productname">
                        {{product.Name}} </div>
                  <div class="item-price">
                        {{product.Price}}</div>
            </li>
      </ul>
</div>